table {
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 20px;
    height: 20px;
}

.clicked {
    background-color: black;
}

.unclicked {
    background-color: white;
}

.material-symbols-outlined {
    font-variation-settings:
        "FILL" 1,
        "wght" 100,
        "GRAD" 0,
        "opsz" 24;
}

button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

button:hover {
    cursor: pointer;
}

.conwayGrid {
    margin: 0px auto;
}

.tableControl {
    width: 55px;
    float: left;
    padding: 2px;
    border: solid 2px;
}

.generationControl {
    width: 55px;
    float: right;
    padding: 2px;
    border: solid 2px;
}
