table {
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 20px;
    height: 20px;
}

.clicked {
    background-color: black;
}

.unclicked {
    background-color: white;
}

button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}

button:hover {
    cursor: pointer;
}

.stop {
    background-image: url("stop.svg");
}

.play {
    background-image: url("play.svg");
}

.step {
    background-image: url("step-forward.svg");
}

.clear {
    background-image: url("eraser.svg");
}

.addColumn {
    background-image: url("arrow-right.svg");
}

.removeColumn {
    background-image: url("arrow-left.svg");
}

.addRow {
    background-image: url("arrow-down.svg");
}

.removeRow {
    background-image: url("arrow-up.svg");
}

.conwayGrid {
    margin: 0px auto;
}

.tableControl {
    width: 55px;
    float: left;
    padding: 2px;
    border: solid 2px;
}

.generationControl {
    width: 55px;
    float: right;
    padding: 2px;
    border: solid 2px;
}
