table {
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50px;
    height: 50px;
}

.clicked {
    background-color: black;
}

.unclicked {
    background-color: white;
}

.stop {
    background-image: url("stop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.play {
    background-image: url("play.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.step {
    background-image: url("step-forward.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.clear {
    background-image: url("eraser.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
